# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/
!.mvn/wrapper/maven-wrapper.jar
HELP.md

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.sw?
